.mui-media {
  width: 100%;
}
.mui-media a {
  display: block;
  width: 100%;
}
.cart_img {
  overflow: hidden;
}
.cart_info {
  padding-left: 10px;
  width: 100%;
  /*margin-left: 45px;*/
}
.cart_info .proname  {
  font-size: 16px;
  color: #0f0f0f;
  padding-bottom: 20px;
}
.price {
  color: red;
}
.oldprice {
  text-decoration: line-through;
  padding: 0 5px;
}
.cart_info .size {
  color: #cccccc;
  font-size: 14px;
}

.lt_size span {
  display: inline-block;
  background-color: #F5F5F5;
  border: 1px solid #cccccc;
  padding: 2px 5px;
  margin: 2px 2px;
}
.lt_size span.current {
  background-color: #006699;
  color: #ffffff;
}