.lt_search {
    padding: 10px 10px;
    position: relative;

}
.lt_search input {
    height: 30px;
    width: 100%;
    border: 1px solid #007AFF;
    font-size: 14px;
}
.lt_search button {
    position: absolute;
    height: 30px;
    right: 10px;
    top: 10px;
}
.title {
    height: 20px;
    width: 100%;
    font-size: 14px;
    color: #101010;
    padding: 0 10px;
}
.title a {
    color: #101010;
}
.content {
    padding: 10px 10px;
}
.content li {
    height: 30px;
    line-height: 30px;

    border-top:1px dashed #FF0000 ;
    border-left: 1px dashed #FF0000;
    border-right: 1px dashed #FF0000;
    width: 100%;
}
.content li:last-child {
    border-bottom: 1px dashed #FF0000 ;
}
